---
import { cls } from "@/utils/cls";
import { type HTMLAttributes } from "astro/types";

interface Props extends Omit<HTMLAttributes<"input">, "type"> {}

const { class: className, id, ...attrs } = Astro.props;
---

<div class="inline-flex items-center">
  <label class="relative flex cursor-pointer items-center" for={id}>
    <input
      {...attrs}
      id={id}
      type="checkbox"
      class={"peer h-5 w-5 cursor-pointer transition-all appearance-none rounded border border-border checked:bg-primary disabled:opacity-50 disabled:cursor-not-allowed"}
    />
    <span
      class={cls(
        "text-primary-foreground pointer-events-none absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform opacity-0 peer-checked:opacity-100",
        className,
      )}
    >
      <slot>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-3.5 w-3.5"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="4"
        >
          <path d="M20 6 9 17l-5-5"></path>
        </svg>
      </slot>
    </span>
  </label>
</div>