---
const { data } = Astro.props;
import ListingCard from '../snippets/listing-card.astro';
import { Button, Result, PageHeader } from '@/components/index';
import { IconChevron } from '@/icons/index';
---

<section>
	<PageHeader
		as="h2"
		title="Annunci simili"
		subtitle="Scopri altri annunci che potrebbero interessarti.">
	</PageHeader>
	{
		data && data.length > 0 ?
				<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
					{data.map((listing) => (
						<div class="swiper-slide">
							<ListingCard data={listing} />
						</div>
					))}
				</div>
			
		:	<Result
				title="Nessun annuncio disponibile"
				description="Attualmente non ci sono annunci simili da mostrare. Riprova più tardi!"
			/>
	}
</section>
