@import 'tailwindcss';
@plugin "flyonui";
@import "../../node_modules/flyonui/variants.css";
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";



.root {
    --border-color: rgb(0 0 0 / 15%);
}
@theme {
  --font-family-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-gray-200;
  }

  button,
  input,
  select,
  textarea {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring focus-visible:ring-offset-2 rounded-lg;
  }
}
@utility container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 80rem;

  @sm {
    padding-inline: 1.5rem;
  }

  @lg {
    padding-inline: 2rem;
  }
}

@layer base {
  body {
    @apply bg-white antialiased;
    touch-action: manipulation;
    font-optical-sizing: auto;
    font-style: normal;
  }
}

button, a, input, textarea {
  -webkit-tap-highlight-color: transparent;
}