---
import { MEDIA_URL } from "@/utils/constants";
import { Picture } from '@/components/index';

const { images = [], alt = '' } = Astro.props;
const hasMedia = Array.isArray(images) && images.length > 0;
---

{hasMedia && (
  <div class="relative w-full">
    <!-- Main Gallery -->
    <div class="swiper gallery-images w-full aspect-video md:aspect-[4/3] rounded-xl overflow-hidden">
      <div class="swiper-wrapper">
        {images.map((image) => (
          <div class="swiper-slide">
            <Picture
            src={MEDIA_URL + image.url}
            alt={alt}
            sources={image.srcset.map(src => ({
              url: MEDIA_URL + src.url,
              width: src.width,
              format: src.format || (src.url.includes('.webp') ? 'webp' : 'jpg')
            }))}
            width={1200}
            height={800}
            loading="lazy"
            decoding="async"
            class="object-cover transition duration-300 ease-out !h-full !w-full"
            sizes="(max-width: 600px) 480px, (max-width: 1200px) 800px, 1200px"
            breakpoints={[600, 1200]}
          />
          </div>
        ))}
      </div>

      <div class="swiper-button-prev !text-white !left-2"></div>
      <div class="swiper-button-next !text-white !right-2"></div>
    </div>

    <div
      thumbsSlider
      class="swiper gallery-thumbs mt-4 px-1 w-full max-w-full overflow-hidden"
    >
      <div class="swiper-wrapper">
        {images.map((image) => (
          <div class="swiper-slide w-20 h-20 md:w-24 md:h-24 rounded-md overflow-hidden border border-gray-200">
             <Picture
            src={MEDIA_URL + image.url}
            alt={alt}
            sources={image.srcset.map(src => ({
              url: MEDIA_URL + src.url,
              width: src.width,
              format: src.format || (src.url.includes('.webp') ? 'webp' : 'jpg')
            }))}
            width={1200}
            height={800}
            loading="lazy"
            decoding="async"
            class="object-cover transition duration-300 ease-out !h-full !w-full"
            sizes="(max-width: 600px) 480px, (max-width: 1200px) 800px, 1200px"
            breakpoints={[600, 1200]}
          />
          </div>
        ))}
      </div>
    </div>
  </div>
)}
