---
import { Picture } from '@/components/index';
import { IconX } from '@/icons/index';
import Carousel from '../carousel.astro';

const { images: rawMedia, alt = '' } = Astro.props;
const images = Array.isArray(rawMedia) ? rawMedia : [];
---

{images.length > 0 && (
		<div class="relative w-full">
			<div class="swiper gallery-images w-full aspect-video md:aspect-[1/1] rounded-xl overflow-hidden">
				<div class="swiper-wrapper">
					{images.map((image) => (
						<div class="swiper-slide">
							<Picture
								class="w-full h-full object-cover"
								image={image}
								alt={alt}
							/>
						</div>
					))}
				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>

			<div class="swiper gallery-thumbs mt-4 px-1 w-full max-w-full overflow-hidden">
				<div class="swiper-wrapper">
					{images.map((image) => (
						<div class="swiper-slide w-[150px] h-[150px] rounded-md overflow-hidden border border-gray-200" key={`thumb-${image.url}`}>
							<Picture
								width={150}
								height={150}
								class="w-full h-full max-h-[150px] object-cover"
								image={image}
								alt="Thumbnail"
							/>
						</div>
					))}
				</div>
			</div>
		
	</div>
)}
