---
const { links } = Astro.props;
---

<nav class="my-4 font-medium text-on-surface" aria-label="breadcrumb">
  <ol class="flex flex-wrap items-center gap-1">
    {links.map((link, index: number) => (
      <li class="flex items-center breadcrumb-item">
        {index < links.length - 1 ? (
          <a
            href={link?.url}
            class="hover:text-on-surface-strong"
            aria-label={`Go to ${link?.name} page`}
          >
            {link?.name}
          </a>
        ) : (
          <span
            class="text-on-surface-strong font-bold"
            aria-current="page"
          >
            {link?.name}
          </span>
        )}
      </li>
    ))}
  </ol>
</nav>
