---
import { IconFlagBold } from '../icons';
import Button from './button.astro';
import Card from './card.astro';

const { type } = Astro.props;
---

<Card>
	<div slot="title">
		<span>Segnala questo {type === 'profile' ? 'profilo' : 'annuncio'}</span>
	</div>
	<div
		slot="content"
		class="py-4">
		<p class="text-gray-500 text-sm">Se hai riscontrato problemi o ritieni che questo {type === 'profile' ? 'profilo' : 'annuncio'} non rispetti le linee guida, segnalalo subito.</p>
	</div>
	<div
		slot="footer"
		class="flex items-center justify-between">
		<button class="btn btn-primary"
			variant="secondary"
			as="a"
			href="#"
			class="w-full">
			<IconFlagBold />
			Segnala {type === 'profile' ? 'profilo' : 'annuncio'}
		</button>
	</div>
</Card>
