---
// index.astro
import { API_URL } from '../utils/constants.js';
---

<div 
  id="search-container" 
  class={`relative`}
  data-search-component
>
  <input 
    id="search-input"
    type="text" 
    placeholder="Cerca profili, città o annunci..."
    class="w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
    autocomplete="off"
  />
  
  <div 
    id="search-loading" 
    class="absolute right-3 top-1/2 transform -translate-y-1/2 hidden"
  >
    <div class="animate-spin rounded-full h-5 w-5 border-b-2 border-blue-500"></div>
  </div>
  
  <ul
    id="autocomplete-results"
    class="absolute z-50 w-full bg-white border border-gray-200 rounded-lg mt-1 shadow-lg max-h-96 overflow-y-auto hidden"
  ></ul>
</div>