---
import { MEDIA_URL } from '@/utils/constants';
import { Picture } from '@/components/index';

const { images = [], slug, alt = 'Image' } = Astro.props;
---

<div class="swiper listing-carousel w-full h-full">
	<div class="swiper-wrapper">
		{
			images.length > 0 ?
				images.map((image) => (
					<div
						class="swiper-slide">
						  <Picture
							src={MEDIA_URL + image.url}
							alt={alt}
							sources={image.srcset.map(src => ({
							url: MEDIA_URL + src.url,
							width: src.width,
							format: src.format || (src.url.includes('.webp') ? 'webp' : 'jpg')
							}))}
							width={1200}
							height={800}
							loading="lazy"
							decoding="async"
							class="object-cover transition duration-300 ease-out !h-full !w-full"
							sizes="(max-width: 600px) 480px, (max-width: 1200px) 800px, 1200px"
							breakpoints={[600, 1200]}
						/>
					</div>
				))
			:	<div class="swiper-slide">
					<Picture
						loading="lazy"
          				decoding="async"
						class="object-cover transition duration-300 !h-full !w-full ease-out"
						src="/images/placeholder.svg"
						alt={alt}
						height={500}
						width={500}
						
					/>
				</div>
		}
	</div>
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-pagination"></div>
</div>
