---
import { Picture } from '@/components/index';

const { images = [], alt = 'Image' } = Astro.props;
---

<div class="swiper listing-carousel w-full h-full">
  <div class="swiper-wrapper">
    {images.length > 0 ? (
      images.map((image) => (
        <div class="swiper-slide">
          <Picture
            image={image}
            alt={alt}
            class="object-cover transition duration-300 ease-out !h-full !w-full"
          />
        </div>
      ))
    ) : (
      <div class="swiper-slide">
        <img
          src="/images/placeholder.svg"
          alt={alt}
          loading="lazy"
          decoding="async"
          class="object-cover transition duration-300 ease-out !h-full !w-full"
        />
      </div>
    )}
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>