<aside
	id="mobile-menu"
	class="overlay overlay-open:translate-x-0 drawer drawer-start hidden max-w-72"
	tabindex="-1">
	<div class="drawer-header">
		<h3 class="drawer-title">Menu</h3>
		<button class="btn btn-primary"
			type="button"
			class="btn btn-text btn-circle btn-sm absolute end-3 top-3"
			aria-label="Close"
			data-overlay="#mobile-menu">
			<span class="icon-[tabler--x] size-4"></span>
		</button>
	</div>

	<div class="drawer-body justify-start pb-6">
		<ul class="menu space-y-0.5 p-0">
			<li><a href="/account">Home</a></li>
			<div class="divider py-6">Account</div>
			<li><a href="/account">Il mio account</a></li>
			<li><a href="/account/favorites">Annunci preferiti</a></li>
			<li><a href="/account/reviews">Le mie recensioni</a></li>
			<li><a href="/account/settings">Impostazioni</a></li>
		</ul>
	</div>
</aside>
