<footer
	id="site-footer"
	class="bg-zinc-800 dark:text-gray-100">
	<div class="container py-16">
		<div class="grid grid-cols-1 gap-12 md:grid-cols-5 md:gap-4 lg:gap-10">
			<div class="text-white">
				<a href="/">OnlyEscort</a>
			</div>
		</div>

		<hr class="my-10 border-gray-500 dark:border-gray-700/75" />

		<div class="flex flex-col gap-4 text-center text-sm md:flex-row-reverse md:justify-between md:gap-0 md:text-left">
			<div>
				<h4 class="text-xs font-semibold tracking-wider text-gray-400 dark:text-gray-400/75">
					OnlyEscort {new Date().getFullYear()}
				</h4>
			</div>
			<div class="flex gap-2 text-sm text-gray-400 dark:text-gray-400/75">
				<a href="/privacy" class="hover:underline">Privacy Policy</a>
				<a href="/terms" class="hover:underline">Terms of Service</a>
				<a href="/contact" class="hover:underline">Contact Us</a>
		</div>
	</div>
</footer>
