---
import SearchAutocomplete from '@/components/search-autocomplete.astro';
import { IconChevron, IconHeart, IconLogout, IconMenu, IconSettings, IconStar, IconUserCircle } from '@/icons/index';
import SiteDrawer from './site-drawer.astro';

const isHomePage = Astro.url.pathname === '/';
const isAuthenticated = true;
---

<header class="relative flex flex-none items-center bg-white border-b border-outline">
	<div class="container">
		<nav class="navbar px-0 w-full flex items-center justify-between gap-1 lg:grid lg:grid-cols-3 lg:items-center">
			<div class="flex items-center gap-2">
				<a
					href="/"
					class="text-xl font-bold">
					<span class="hidden sm:inline">OnlyEscort</span>
					<span class="sm:hidden">0E</span>
				</a>
			</div>

			<div class="hidden lg:flex flex-1 justify-center">
				{!isHomePage && <SearchAutocomplete />}
			</div>
			<div class="flex items-center justify-end gap-2">
				<a
					href="/favorites"
					class="btn btn-text">
					<IconHeart />
					<span class="hidden sm:inline">Preferiti</span>
				</a>
				<div class="z-10 dropdown relative inline-flex [--auto-close:inside] [--offset:8] [--placement:bottom-end]">
					<a
						class="btn btn-text"
						href="/login"
						aria-label="Accedi">
						<IconUserCircle /> Accedi
					</a>
				</div>
				<button
					class="btn btn-text"
					aria-haspopup="dialog"
					aria-expanded="false"
					aria-controls="mobile-menu"
					data-overlay="#mobile-menu"
					aria-label="Menu">
					<IconMenu />Menu
				</button>
			</div>
		</nav>
	</div>
</header>
<SiteDrawer />
