---
import { Button, Input } from '@/components/index';
import AccountContainer from '@/containers/account-container.astro';
---
<AccountContainer title="Impostazioni Account">


  <!-- Form profilo -->
  <section class="mb-4">
    <h2 class="text-xl font-semibold">Dettagli Profilo</h2>
    <form action="/api/account/update-profile" method="POST">
       <div class="mb-2 grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
        <label for="name">Nome</label>
        <Input type="text" id="name" name="name" required />
      </div>

      <div class="mb-2">
        <label for="email">Email</label>
        <Input type="email" id="email" name="email" required />
      </div>
      </div>

      <Button type="submit">Aggiorna Profilo</Button>
    </form>
  </section>

  <!-- Form password -->
  <section style="margin-top: 2rem;">
    <h2 class="text-xl font-semibold">Cambia Password</h2>
    <form action="/api/account/change-password" method="POST">
      <div>
        <label for="current_password">Password attuale</label>
        <Input type="password" id="current_password" name="current_password" required />
      </div>

      <div>
        <label for="new_password">Nuova password</label>
        <Input type="password" id="new_password" name="new_password" required />
      </div>

      <div>
        <label for="confirm_password">Conferma nuova password</label>
        <Input type="password" id="confirm_password" name="confirm_password" required />
      </div>

      <Button type="submit">Aggiorna Password</Button>
    </form>
  </section>
</AccountContainer>
