---
import { IconFilter } from '@/icons/index';
---

<button
	class="btn btn-primary"
	id="filter-modal-trigger"
	aria-haspopup="dialog"
	aria-expanded="false"
	type="button"
	><IconFilter />Filtri</button
>

<div id="filter-modal-container"></div>