---
import SearchAutocomplete from '@/components/search-autocomplete.astro';
import { Image } from 'astro:assets';
---

{/* Hero Section */}
<section class="relative">
	<div class="absolute inset-0 z-1 bg-black/15"></div>
	<Image
		src="/images/bg-home.jpg"
		alt="Hero background"
		width={1200}
		height={600}
		class="w-full absolute h-full object-cover"
		priority
	/>
	<div class="container relative mx-auto py-24 lg:flex lg:h-[500px] lg:items-center text-center">
		<div class="max-w-4xl text-center mx-auto">
			<h1 class="text-white text-4xl font-bold tracking-tight sm:text-5xl md:text-5xl">Benvenuto su ONLYESCORT Italia</h1>
			<p class="text-white mt-4 text-xl">Naviga la nostra selezione di Annunci di Escort</p>
			<div class="mt-8 flex flex-col sm:flex-row gap-4 justify-center lg:justify-start">
				<div class="relative w-full mx-auto">
					<SearchAutocomplete/>
				</div>
			</div>
		</div>
	</div>
</section>
